.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app {
  padding: 30px;
  background-color: floralwhite;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.App-content {
  padding-left: 10%;
  padding-right: 10%;
  padding: 2%;
  margin-top: 5%;
  text-align: center;
  justify-content: center;
  width: 70%;
  height: 70%;
  background-color: #eee;
  margin-left: auto;
  margin-right: auto;
}
.Form {
  flex-direction: row;
}
.Team {
  position: absolute;
  right: 0;
  padding-right: 5%;
  font-size: x-small;
  text-align: start;
}
